@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>



<address>
    <strong>Support:</strong>   <a href="mailto:na18@net.hr">Support@vedran.com</a><br />
    <strong>Developer:</strong> <a href="mailto:v.gasparo78@gmail.com">Developer@vedran.com</a>
</address>