@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Raspored</h1>
    <p class="lead">Made by ASP.NET </p>
    <p><a @Html.ActionLink("Raspored sati", "Index", "Raspored")<br /></a></p>
</div>